<app-loader *ngIf="loading"></app-loader>
<div class="container-fluid foodbackground" *ngIf="!loading">
  <div class="container mt-5">
    <div class="row centerrow">
      <div class="header">
        <h2>Find Your Restaurant</h2>
        <h4>Find the best restaurants, cafes and bars</h4>
      </div>
      <div class="container mt-5">
        <form (ngSubmit)="getSearchParam(model)" #f="ngForm" novalidate>
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-4">
                  <label class="mr-1">City:</label>
                </div>
                <div class="col-6">
                  <input
                    class="form-control"
                    [(ngModel)]="model.city"
                    #city="ngModel"
                    required
                    type="text"
                    class="w-100"
                    name="city"
                    placeholder="Select City"
                  />
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-4">
                  <label class="mr-1">Dish:</label>
                </div>
                <div class="col-6">
                  <input
                    class="form-control"
                    [(ngModel)]="model.dish"
                    #dish="ngModel"
                    required
                    type="text"
                    class="w-50"
                    name="dish"
                    placeholder="Select Dish"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-6">
              <div class="row">
                <div class="col-4">
                  <label class="mr-1">Avg Price (MIN):</label>
                </div>
                <div class="col-6">
                  <input
                    class="form-control"
                    [(ngModel)]="model.start"
                    #start="ngModel"
                    required
                    type="text"
                    class="w-100"
                    name="city"
                    placeholder="Avg Price(MIN)"
                  />
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-4">
                  <label class="mr-1">Avg Price (MAX):</label>
                </div>

                <div class="col-6">
                  <input
                    class="form-control"
                    [(ngModel)]="model.end"
                    #end="ngModel"
                    required
                    type="text"
                    class="w-50"
                    name="dish"
                    placeholder="Avg Price (MAX)"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-5"></div>
            <button type="submit" class="btn btn-success">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div
        class="col-md-12 col-lg-12 col-sm-12 collections"
        style="padding-top: 25px"
      >
        <h3>List of Trending Restaurants</h3>
      </div>
    </div>

    <div class="row cardrow">
      <mat-card
        *ngFor="let resto of restoList"
        class="example-card"
        animateOnScroll
        animationName="animated fadeIn"
      >
        <a [routerLink]="['/detail', resto._id]">
          <mat-card-header>
            <mat-card-title>{{ resto.fullName }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./../../assets/resturant-deliver.svg" />
          <mat-card-content>
            <div class="cost">Average Cost for two people: 400</div>
            <div class="post-meta">
              <span class="star"><i class="fa fa-star"></i>5</span>
              <span class="smile"><i class="fa fa-smile-o"></i>5</span>
            </div>
          </mat-card-content>
        </a>
      </mat-card>
    </div>
  </div>
</div>
