.menuinput {
  padding-right: 10px;
  background: #fff;
  position: relative;
  z-index: 3;
  font-weight: 700;
  color: #ff9b08;
  border: none;
  outline: none;
}

.menuinput ::-webkit-input-placeholder {
  /* Edge */
  color: #505050;
}

.menuinput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #505050;
}

.menuinput::placeholder {
  color: #505050;
}

.menuinput input:focus {
  /* border: none; */
  outline: none;
}

.addbutton {
  display: flex;
  justify-content: space-between;
}

.addbutton button {
  padding: 0 10px;
  background-color: #ff9b08;
  border: none;
  color: white;
  border-radius: 25%;
}
