<section id="book-a-table" class="book-a-table">
  <div class="container">
    <form
      name="form"
      (ngSubmit)="registerfun(model)"
      #f="ngForm"
      novalidate
      class="php-email-form"
    >
      <h2 class="text-center">RESTAURANT &nbsp; REGISTRATION</h2>
      <div class="form-row justify-content-center mt-5">
        <div
          class="col-md-9 form-group"
          [ngClass]="{ 'has-error': f.submitted && !fullName.valid }"
        >
          <input
            type="text"
            class="form-control"
            name="fullName"
            [(ngModel)]="model.fullName"
            #fullName="ngModel"
            placeholder="Full Name"
            required
          />
          <div *ngIf="f.submitted && !fullName.valid" class="help-block">
            UserfullName is required
          </div>
        </div>
      </div>
      <div class="form-row justify-content-center">
        <div
          class="col-md-5 form-group"
          [ngClass]="{ 'has-error': f.submitted && !email.valid }"
        >
          <input
            type="text"
            class="form-control"
            name="email"
            [(ngModel)]="model.email"
            #email="ngModel"
            placeholder="Email"
            required
          />
          <div *ngIf="f.submitted && !email.valid" class="help-block">
            Email is required
          </div>
        </div>
        <div
          class="col-md-4 form-group"
          [ngClass]="{ 'has-error': f.submitted && !password.valid }"
        >
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="model.password"
            #password="ngModel"
            placeholder="Password"
            required
          />
          <div *ngIf="f.submitted && !password.valid" class="help-block">
            Password is required
          </div>
        </div>
      </div>
      <div class="form-row justify-content-center">
        <div
          class="col-md-5 form-group"
          [ngClass]="{ 'has-error': f.submitted && !mobileNumber.valid }"
        >
          <input
            type="number"
            class="form-control"
            name="mobileNumber"
            [(ngModel)]="model.mobileNumber"
            #mobileNumber="ngModel"
            placeholder="Mobile Number"
            required
          />
          <div *ngIf="f.submitted && !mobileNumber.valid" class="help-block">
            Mobile Number is required
          </div>
        </div>
        <div
          class="col-md-4 form-group"
          [ngClass]="{ 'has-error': f.submitted && !avgPrice.valid }"
        >
          <input
            type="number"
            class="form-control"
            name="avgPrice"
            [(ngModel)]="model.avgPrice"
            #password="ngModel"
            placeholder="Averge Price Per Person in Rs"
            required
          />
          <div *ngIf="f.submitted && !avgPrice.valid" class="help-block">
            Average Price Per Person is required
          </div>
        </div>
      </div>

      <div class="form-row justify-content-center">
        <div
          class="col-md-4 form-group"
          [ngClass]="{ 'has-error': f.submitted && !address.valid }"
        >
          <input
            type="text"
            class="form-control"
            name="address"
            [(ngModel)]="model.address"
            #address="ngModel"
            placeholder="Address"
            required
          />
          <div *ngIf="f.submitted && !address.valid" class="help-block">
            Address is required
          </div>
        </div>

        <div
          class="col-md-3 form-group"
          [ngClass]="{ 'has-error': f.submitted && !city.valid }"
        >
          <input
            type="text"
            class="form-control"
            name="city"
            [(ngModel)]="model.city"
            #city="ngModel"
            placeholder="City/Town"
            required
          />
          <div *ngIf="f.submitted && !city.valid" class="help-block">
            City is required
          </div>
        </div>
        <div
          class="col-md-2 form-group"
          [ngClass]="{ 'has-error': f.submitted && !state.valid }"
        >
          <input
            type="text"
            class="form-control"
            name="state"
            [(ngModel)]="model.state"
            #state="ngModel"
            placeholder="State/Province"
            required
          />
          <div *ngIf="f.submitted && !state.valid" class="help-block">
            State is required
          </div>
        </div>
        <div
          class="col-md-2 form-group"
          [ngClass]="{ 'has-error': f.submitted && !pincode.valid }"
        >
          <input
            type="text"
            class="form-control"
            name="pincode"
            [(ngModel)]="model.pincode"
            #pincode="ngModel"
            placeholder="Pincode"
            required
          />
          <div *ngIf="f.submitted && !pincode.valid" class="help-block">
            Pincode is required
          </div>
        </div>
      </div>

      <div class="form-row justify-content-center align-items-center">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <div>
            <button type="submit" class="buttonsignup">Register</button>
          </div>
        </div>
        <div class="col-md-5">
          <a class="buttonsignup text-decoration-none" href="/restaurant/login"
            >Login</a
          >
        </div>
      </div>
    </form>
  </div>
</section>
