<link
  rel="stylesheet"
  type="text/css"
  href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
/>
<br />
<div class="container bootdey mt-5">
  <div class="panel panel-default panel-order">
    <div class="panel-heading">
      <strong>Order history</strong>
      <div class="btn-group pull-right">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-default btn-xs dropdown-toggle"
            data-toggle="dropdown"
          >
            Filter history <i class="fa fa-filter"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#">Approved orders</a></li>
            <li><a href="#">Pending orders</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="panel-body" *ngFor="let item of result">
      <div class="row">
        <div class="col-md-1">
          <img
            src="https://bootdey.com/img/Content/user_3.jpg"
            class="media-object img-thumbnail"
          />
        </div>
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right">
                <label class="label label-danger">{{ item.status }}</label>
              </div>
              <span
                ><strong>{{ item._id }}</strong></span
              >&nbsp; <span class="label label-info">Order Number</span><br />
              Total cost : &#x20B9; {{ item.totalPrice }} <br />
              <button
                data-placement="top"
                class="btn btn-success btn-xs glyphicon glyphicon-ok"
                (click)="updateOrd('Approved', item._id)"
                [disabled]="item.status != 'Placed'"
                title="View"
              ></button
              >&nbsp;
              <button
                data-placement="top"
                class="btn btn-danger btn-xs glyphicon glyphicon-trash"
                (click)="updateOrd('Cancelled', item._id)"
                [disabled]="item.status != 'Placed'"
                title="Danger"
              ></button
              >&nbsp;
              <a
                data-placement="top"
                class="btn btn-info btn-xs glyphicon glyphicon-usd"
                [routerLink]="['/orderdescription', item._id]"
                title="Danger"
              ></a>
            </div>
            <div class="col-md-12">
              order made on: {{ item.orderPlaced }} by
              <a href="#">{{ item.email }} </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      Put here some note for example: bootdey si a gallery of free bootstrap
      snippets bootdeys
    </div>
  </div>
</div>
